<p>
  <strong><%= comment.user.email %></strong><br>
  <%= comment.body %>

  <% if comment.user == current_user %>
    <br>
    <%= link_to "削除",
      post_comment_path(comment.post, comment),
      data: { turbo_method: :delete, turbo_confirm: "削除しますか？" } %>
  <% end %>
</p>
