<h2><%= post.title %></h2>

<p>
   <% if truncate_body %>
    <%= truncate(post.body, length: 100) %>
  <% else %>
    <%= simple_format(post.body) %>
  <% end %>
</p>

<p>
  投稿者：<%= post.user.email %>
</p>